<html>
<head>
</head>
<body>
<br action="/post" method="POST">
	<h1>Welcome</h1>
    <p>
    <select name="travel_type">
        <option value="one_way">One Way</option>
        <option value="round_trip">Rount Trip</option>
    </select>
    </p>

    <p>
    <label for="departure_date_time"> Departure Date </label> </br>
        <input type="date" name = "departure_date" />
        <input type="time" name = "departure_time" /> </br>

    {% if travel_type=="round_trip" %}
        <label for="Return_date_time"> Return Date </label> </br>
        <input type="date" name = "departure_date" />
        <input type="time" name = "departure_time" /> </br>
    {% endif %}
    </p>

    <label for="departure"> Departure </label> </br>
	<input type="text" name = "departure_city" placeholder="City*" required/>
        <input type="text" name = "departure_airport" placeholder="Airport"/></br>

    <label for="destination"> Destination </label></br>
	<input type="text" name = "destination_city" placeholder="City*" required/>
    <input type="text" name = "destination_airport" placeholder="Airport"/></br>
	<input type="submit" value = Search />
    </p>
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>City</th>
	<th>Airport</th>
    <th>Airline</th>
	<th>Plane ID</th>
    <th>Price</th>

{% for line in posts %}
	<tr>
		<td>{{line['city']}}</td>
		<td>{{line['airport_name']}}</td>
        <td>{{line['airline_name']}}</td>
		<td>{{line['plane_id']}}</td>
        <td>{{line['price']}}</td>

	</tr>
{% endfor %}
</table>

<a href="/login.html">Login</a>
<a href="/register.html">Register</a>

</body>


</html>

