<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if message %}
        <h2>{{ message }}</h2>
    {% else %}
        <form action="/make_rate_comment" method="POST">
            <h2>Please Select Your Rating Between 0 to 5</h2>
            <input type="text" name = "rating" list="rating_choices" required/></br>
                <datalist id="rating_choices" >
                    <option value=0></option>
                    <option value=0.5></option>
                    <option value=1></option>
                    <option value=1.5></option>
                    <option value=2></option>
                    <option value=2.5></option>
                    <option value=3></option>
                    <option value=3.5></option>
                    <option value=4></option>
                    <option value=4.5></option>
                    <option value=5></option>
                </datalist>
            <h2>Please Leave Your Comments</h2>
            <input type="text" name = "comment" style="height:120px; width:300px;"/></br>

            {% if ticket_id %}
                <input type="text" name="ticket_id" value='{{ticket_id}}' hidden>
            {% endif %}
            <input type="submit" value = 'Submit' />
        </form>
    {% endif %}
    {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}

    <a href="/my_flight"><button>Go back</button></a>

</body>
</html>