<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>
<h3>Upcoming flights</h3>
<table>
    <th>Airline Name</th>
    <th>Flight Number</th>
    <th>Departure Date</th>
    <th>Departure Time</th>

{% for line in future %}
    <form action="/cancel_flight" method="POST">
	<tr>
        <td>{{line['airline_name']}}</td>
        <td>{{line['flight_number']}}</td>
        <td>{{line['departure_date']}}</td>
        <td>{{line['departure_time']}}</td>
        <input type="text" name="ticket_id" value="{{line['ticket_id']}}" hidden/>
        <td><input type="submit" value = Cancel /></td>
	</tr>
    </form>
{% endfor %}
</table>

<h3>Past flights</h3>
<table>
    <th>Airline Name</th>
    <th>Flight Number</th>
    <th>Departure Date</th>
    <th>Departure Time</th>

{% for line in past %}
    <form action="/cancel_flight" method="POST">
	<tr>
        <td>{{line['airline_name']}}</td>
        <td>{{line['flight_number']}}</td>
        <td>{{line['departure_date']}}</td>
        <td>{{line['departure_time']}}</td>
        <input type="text" name="ticket_id" value="{{line['ticket_id']}}" hidden/>
        <td><input type="submit" value = Cancel /></td>
	</tr>
    </form>
{% endfor %}
</table>
<br>
<a href="/customer_home">Go back</a><br>
<a href="/customer_logout">Log out</a>
</body>
</html>
