<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if error %}
        <h2>{{ error }}</h2>
    {% else %}
        <style type="text/css">
            table, th, td{
                border: 1px solid black;
            }
        </style>
        <h2>Total Revenue</h2>
        <table>
            <th>Past Month</th>
            <th>Past Year</th>

            <tr>
                <td>{{monthly_revenue}}</td>
                <td>{{annual_revenue}}</td>
            </tr>
        </table>

        <h2>Monthly Revenue in Past Year</h2>
        <table>
            {% for tuple in revenue_list %}
                <tr>
                    <td>{{ tuple[0] }}</td>
                    <td>
                    <div style='background-color:lightskyblue; width:{{ tuple[1]/50 }}px'>{{ tuple[1] }}</div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <a href="/staff_home"><button>Go back</button></a>
    </body>
</html>