<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if not message %}
        <h3>Please Enter Flight Information</h3>
        <form action="/add_flight" method="POST">
            <p>
                <h3> Add Flight </h3>
                <label for="flight_number"> Flight Number </label> </br>
                <input type="text" name = "flight_number" /> </br>

                <label for="departure_date"> Departure Date/Time </label> </br>
                <input type="date" name = "departure_date" />
                <input type="time" name = "departure_time" /> </br>

                <label for="arrival_date"> Arrival Date/Time </label> </br>
                <input type="date" name = "arrival_date" />
                <input type="time" name = "arrival_time" /> </br>

                <label for="base_price"> Base Price </label> </br>
                <input type="number" name = "base_price" /> </br>

                <label for="plane_id"> Plane ID </label> </br>
                <input type="text" name = "plane_id" /> </br>

                <label for="status"> Status </label> </br>
                <input type="text" name = "status" /> </br>

                <label for="capacity"> Capacity </label> </br>
                <input type="number" name = "capacity" /> </br>

                <label for="ticket_count"> Ticket Count </label> </br>
                <input type="number" name = "ticket_count" /> </br>

                <label for="src_airport"> Source Airport </label> </br>
                <input type="text" name = "src_airport" /> </br>

                <label for="dst_airport"> Destination Airport </label> </br>
                <input type="text" name = "dst_airport" /> </br>

                <input type="submit" value = Add FLight />
            </p>
        </form>
    {% else %}
        <h3>{{ message }}</h3>
        <a href="/go_add_flight"><button>Add Another Flight</button></a> </br>
    {% endif %}
    <a href="/staff_home"><button>Home</button></a>

</body>
</html>