<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>{{ airline_name }}</h1>
    <h2>Welcome {{first_name}}</h2>
    <a href="/staff_view_flight"><button>View Future Flights</button></a></br>
    <a href="/go_add_plane"><button>Add Plane</button></a> </br>
    <a href="/go_add_flight"><button>Add Flight</button></a> </br>
    <a href="/go_add_airport"><button>Add Airport</button></a> </br>
</body>
    <a href="/staff_logout"><button>Log Out</button></a>
</html>