<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/add_plane" method="POST">
    <p>
        <h3> Add Plane </h3>
        <label for="plane_id"> Plane ID </label> </br>
        <input type="text" name = "plane_id" /> </br>

        <label for="seats"> Number of Seats </label> </br>
        <input type="number" name = "seats" /> </br>

        <label for="manufacturer"> Manufacturer </label> </br>
        <input type="text" name = "manufacturer" /> </br>

        <label for="age"> Age </label> </br>
        <input type="number" name = "age" /> </br>

        <input type="submit" value = Submit />
    </p>
</form>
<a href="/staff_home">Go back</a>
</body>
</html>