<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/add_airport" method="POST">
    <p>
        <h3> Add Airport </h3>
        <label for="name"> Airport Name </label> </br>
        <input type="text" name = "name" /> </br>

        <label for="city"> City </label> </br>
        <input type="text" name = "city" /> </br>

        <label for="country"> Country </label> </br>
        <input type="text" name = "country" /> </br>

        <label for="type"> Type </label> </br>
        <input type="text" name = "type" /> </br>

        <input type="submit" value = Submit />
    </p>
</form>
<a href="/staff_home">Go back</a>
</body>
</html>