<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>
<table>
    <th>Airline Name</th>
    <th>Flight Number</th>
	<th>From</th>
    <th>To</th>
    <th>Departure Date</th>
    <th>Departure Time</th>

{% for line in data %}
    <form action="/cancel_flight" method="get">
	<tr>
        <td>{{line['airline_name']}}</td>
        <td>{{line['flight_number']}}</td>
		<td>{{line['source_airport_name']}}</td>
        <td>{{line['destination_airport_name']}}</td>
        <td>{{line['departure_date']}}</td>
        <td>{{line['departure_time']}}</td>
        <input type="text" name="airline_name" value="{{line['ticket_id']}}" hidden>
        <td><input type="submit" value = Cancel /></td>
	</tr>
{% endfor %}
</table>
</form>>

<a href="/customer_home">Go back</a>
</body>
</html>
