<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if error %}
        <h2>{{ error }}</h2>
    {% else %}
        <a href="/past_flight"><button>Past Flights</button></a> </br>
        <a href="/my_flight"><button>Future Flights</button></a> </br>
        <style type="text/css">
            table, th, td{
                border: 1px solid black;
            }
        </style>

        {% if data %}
            <table>
                <th>Airline Name</th>
                <th>Ticket ID</th>
                <th>Flight Number</th>
                <th>Departure Date</th>
                <th>Departure Time</th>

            {% for line in data %}
                <form action="/cancel_flight" method="POST">
                <tr>
                    <td>{{line['airline_name']}}</td>
                    <td>{{line['ticket_id']}}</td>
                    <td>{{line['flight_number']}}</td>
                    <td>{{line['departure_date']}}</td>
                    <td>{{line['departure_time']}}</td>
                    <input type="text" name="ticket_id" value="{{line['ticket_id']}}" hidden/>
                    <td><input type="submit" value = Cancel /></td>
                </tr>
                </form>
            {% endfor %}
            </table>
        {% endif %}
    {% endif %}
    <a href="/customer_home"><button>Go back</button></a>
</body>
</html>
