<html>
<head>
</head>
<body>
    <a href="/customer_login"><button>Customer</button></a>
    <a href="/staff_login"><button>Staff</button></a>


    {% if user_type=="customer" %}
        <form action="/customer_loginAuth" method="POST">
            <label for="email"> Customer Email </label></br>
            <input type="text" name = "email" placeholder="email" required/> </br>
            <label for="password"> Password </label></br>
            <input type="password" name = "password" placeholder="password" required/></br>
            <input type="submit" value = Login />
        </form>
    {% else %}
        <form action="/staff_loginAuth" method="POST">
            <label for="username"> Staff Username </label></br>
            <input type="text" name = "username" placeholder="username/email" required/> </br>
            <label for="password"> Password </label></br>
            <input type="password" name = "password" placeholder="password" required/></br>
            <input type="submit" value = Login />
        </form>
    {% endif %}

	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}


<a href="/public_home">Go back</a>

</body>
</html>