<html>
<head>
</head>
<body>

<h1>{{ airline_name }}</h1>
<h2>Welcome {{first_name}}</h2>
<a href="/staff_view_flight"><button>View Future Flights</button></a></br>
<h4>Database Modifications</h4>
<a href="/go_add_plane"><button>Add Plane</button></a> </br>
<a href="/go_add_flight"><button>Add Flight</button></a> </br>
<a href="/go_add_airport"><button>Add Airport</button></a> </br>
<h4>Information Queries</h4>
<a href="/go_view_ratings"><button>Check Flight Ratings</button></a> </br>
<a href="/go_view_reports"><button>Check Sales Record</button></a> </br>
<a href="/go_view_revenue"><button>Check Airline Revenue</button></a> </br>
<a href="/go_frequent_customers"><button>Search Customer</button></a> </br>

<p>
    <a href="/public_home"><button>Log Out</button></a>
</p>

</body>
</html>
