<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/view_ratings" method="POST">
	<h3>View Customer Feedbacks</h3>
    <p>
        <label for="ticket_id"> Ticket ID </label> </br>
        <input type="text" name = "ticket_id" placeholder="ticket_id" required/> </br>
        <input type="submit" value = Search />
    </p>
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
    <th>Flight Number</th>
	<th>Rating</th>
	<th>Comment</th>

{% for line in feedbacks %}
	<tr>
        <td>{{line['flight_num']}}</td>
		<td>{{line['rating']}}</td>
		<td>{{line['comment']}}</td>
	</tr>
{% endfor %}
</table>

<a href="/staff_home">Go back</a>
</body>
</html>